@charset "UTF-8";

/** PALETA DE CORES
#C3C3D9
#3838D1
#2A2A9E
#161652
#505059
#fffb
**/

:root {
    --cor0: #ddd;
    --cor1: #9191D9;
    --cor2: #3838D1;
    --cor3: #2A2A9E;
    --cor4: #161652;
    --cor5: #030320;
    --cor6: #0004;
    --shadow: 0px 2px 5px var(--cor6);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h1, h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.material-icons {
    font-size: 22px;
    padding: 0;
}

.icons {
    position: relative;
    top: 4px;
    padding: 6px 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
}

.dropdown:hover {
    display: block;
}

html, body {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

/** NAV **/
nav {
    background-color: var(--cor2);
    text-align: center;
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;    
}

@media (min-width: 280px) {
    nav {
        text-align: left;
    } 
    nav * {
        display: inline-block;
    }
    #menu2 {
        float: right;
    }    
}

nav li * {
    font-weight: bold;
    color: white;
    display: block;
    padding: 10px 12px;
}

nav li *:hover {
    background-color: var(--cor3);
    border-radius: 2px;
    transition: 0.15s;
}

.active {
    background-color: var(--cor3);
    border-radius: 2px;
}

nav img.icone {
    padding: 5px 10px;
    display: inline-block;
}

/** MAIN **/
main {
    background-color: white;
    min-width: 200px;
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: 2px;
}

.card {
    box-shadow: var(--shadow);
    display: inline-block;
    margin: 20px;
    min-height: 100px;
    min-width: 100px;
}

.wrap-card {
    display: inline-block;
}

#imagem-perfil {
    max-width: 160px;
    max-height: 160px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    float: left;
    transition: 0.25s;
}

#imagem-perfil:hover {
    box-shadow: 0px 3px 7px 1px var(--cor6);
}

/** FOOTER **/
footer {
    background-color: var(--cor5);
    color: var(--cor0);
    text-align: center;
    padding: 20px 0;
    margin-top: -58px;
}

footer p {
    margin: 0;
}

footer a {
    color: var(--cor0);
    font-weight: bold;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -58px;
}

.push {
    height: 58px;
}


/** DARK THEME **/

.dark-theme {
    background-color: #222;
    color: #ddd;
    transition: 0.5s;
}

.dark-theme a, .dark-theme .material-icons {
    color: #ddd;
    transition: 0.5s;
}

.dark-theme nav, .dark-theme main, .dark-theme footer {
    background-color: #333;
    color: #ddd;
    box-shadow: 0px 2px 5px #0006;
    transition: 0.5s;
}

.dark-theme nav a:hover, .dark-theme nav * :hover, .dark-theme nav .active {
    background-color: #222;
    color: #ddd;
    transition: 0.5s;
}

/** LIGHT THEME **/
.light-theme {
    transition: 0.5s;
}

.light-theme main * {
    color: black;
    transition: 0.5s;
}

.light-theme * * {
    transition: 0.5s;
}